body{
  font-family: Roboto, "Microsoft Yahei", sans-serif;
  font-size: 50px;
  background-color: #DCEDC8;
}

header{
  font-size: 72px;
}

button{
  font-size: 48px;
}

a{
  color: black;
  text-decoration: none;
}

#koto{
  width: 80%;
  height: 56px;
  position: relative;
  left: 5%;
  font-size: 48px;
  border-radius: 10px;
}

#banner{
  position: relative;
  top: 10px;
  font-size: 80px;
  text-align: center;
}

#sub-banner{
  position: relative;
  top: 10px;
  left:10px;
  font-size: 56px;
  text-align: center;
  font-weight: lighter;
}

#current{
  position: relative;
  top: 20px;
  text-align: center;
}

#currentKoto{
  text-align: center;
  font-size: 96px;
  font-weight: bold;
  font-family: sans-serif;
}

#publish{
  background-color: #DCEDC8;
  border-width: 0px;
  position: fixed;
  right: 100px;
  bottom: 100px;
}

#fab{
  width: 160px;
  height: 160px;
}
